/* Utils classes */
.pointer {
    cursor: pointer;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Components */

.search-picker-result {
    position: relative;
}

.search-picker-search-list {
    position: absolute;
    border: 1px solid #B0B0B0;
    padding: 5px;
    box-shadow: 3px 3px 3px #B0B0B0;
    border-radius: 5px;
    background: #FAFAFA;
    width: 100%;
    z-index: 1001;
}

.search-picker-search-item {
    padding: 5px 10px 5px 10px;
    background: #F8F8F8;
}

.search-picker-search-item:hover {
    background: #E8E8E8;
}

.search-picker-search-item-checkbox {
    width: 20px;
    display: inline-block;
}

.search-picker-search-item-wrapper {
    width: calc(100% - 24px);
    display: inline-block;
}

.search-picker-selected-list {
    width: 100%;
}

.search-picker-selected-item {
    display: inline-block;
    padding: 3px 10px 3px 10px;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    background: #F8F8F8;
}

.search-picker-selected-item > div {
    display: inline-block;
    vertical-align: middle;
}

.search-picker-input input {
    width: calc(100% - 20px);
    padding-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ticket-dialog .ticket-left-side .ticket-price button,
.search-picker-input button {
    width: 26px;
    margin-left: -8px;
    margin-right: -15px;
    padding-bottom: 11px;
    padding-top: 21px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.selector-selected {
    display: inline-block;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 100%;
}

.selector-selected > div {
    display: inline-block;
}

.selector-selected .selector-value {
    width: calc(100% - 30px);
    padding: 10px;
    font-size: 150%;
    font-weight: bold;
}

.selector-selected .selector-icon {
    width: 26px;
    margin-bottom: -4px;
}

.selector-icon {
    width: 17px;
}

.selector-list {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    border: 1px solid #B0B0B0;
    padding: 5px;
    box-shadow: 3px 3px 3px #B0B0B0;
    border-radius: 5px;
    background: #FAFAFA;
    z-index: 10002;
}

.selector-list-item {
    padding: 5px 10px 5px 10px;
    background: #F8F8F8;
}

.selector-list-item:hover {
    background: #E8E8E8;
}

.dialog-wrapper {
    top: 50%;
    left: 50%;
    height: 0px;
    position: fixed;
}

.dialog {
    position: relative;
    top: -30vh;
    left: -50%;
    max-height: 60vh;
    background: #FAFAFA;
    border: 1px solid #B0B0B0;
    margin: auto;
    padding: 10px 10px 10px 10px;
    box-shadow: 4px 4px 4px #B0B0B0;
    border-radius: 8px;
}

.dialog-content {
    max-height: calc(60vh - 20px);
    overflow-y: auto;
}

.ngdialog-overlay {
    opacity: 0.3;
}

.moment-picker {
    z-index: 10001;
}

.dropdown-group {
    display: inline-block;
}

.dropdown-group .dropdown-content {
    margin-left: 5px;
    background: #FAFAFA;
    position: absolute;
    padding: 10px;
    box-shadow: 3px 3px 3px #B8B8B8;
    border-radius: 5px;
    z-index: -1;
    transition-duration: 0.2s;
    opacity: 0;
}

.dropdown-group:hover .dropdown-content {
    z-index: 2000;
    opacity: 1;
    transition-duration: 0.2s;
}

.dropdown-content .button {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
}

.top-panel {
    padding-left: 5px;
    padding-right: 5px;
    background: #FAFAFA;
    box-shadow: 0px 1px 1px #D0D0D0;
}

.top-panel .dropdown-group .dropdown-button {
    padding: 8px;
    cursor: pointer;
}

.side-panel {
    width: 100%;
    height: 100%;
    background: #fff;
    transition: width 0.2s;
    border-right: 1px solid #eee;
    position: relative;
}

.side-panel-wrapper {
    height: 100%;
    width: 100%;
}

.side-panel-list {
    padding: 5px;
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
}

.side-panel-list-row {
    font-size: 120%;
    padding: 5px;
}

.side-panel-list-item-active {
    background-color: #F2F2F2;
}

.side-panel-list-item:hover {
    background-color: #E6E6E6;
}

.side-panel-list-row input,
.side-panel-list-row .side-panel-list-name {
    width: calc(100% - 60px);
    display: inline-block;
}

.side-panel-list-row .side-panel-list-icon {
    float: right;
    margin: 3px;
    padding: 10px;
    display: inline-block;
}
