@media only screen and (max-width: 400px) {
    .dialog {
        max-height: 90vh;
        top: -45vh;
    }

    .dialog-content {
        max-height: 85vh;
        height: 100%;
    }

    .side-panel {
        height: 100%;
    }

    .financies-panel,
    .budget-lists {
        width: 100%;
        margin-right: -3px;
        height: 100%;
        max-height: 200px;
        border-bottom: 1px solid #B0B0B0;
    }

    .financies-settings,
    .budget-share,
    .budget-list-detail > .top-panel {
        display: none;
    }

    .ticket-calculate-dialog {
        padding-top: 50px;
    }

    .ticket-calculate-head {
        margin-top: -50px;
    }

    .ticket-calculate-head,
    .ticket-calculate-row {
        white-space: nowrap;
        height: 50px;
    }

    .ticket-calculate-head > div,
    .ticket-calculate-row > div,
    .ticket-calculate-sum > div {
        width: 100px;
        height: 100%;
        padding: 0;
        vertical-align: middle;
    }

    .ticket-calculate-head > div {
        white-space: normal;
        padding-top: 10px;
    }

    .ticket-calculate-row > div > span {
        vertical-align: middle;
        padding-top: 15px;
    }

    .ticket-calculate-row .ticket-calculate-date,
    .ticket-calculate-row .ticket-calculate-price {
        display: block;
        height: 50%;
        width: 100%;
        padding-right: 8%;
        padding-left: 8%;
    }

    .ticket-calculate-price {
        text-align: right;
    }

    .list-ticket-item {
        font-size: 90%;
        display: inline-block;
        width: 120px;
        border: 1px solid #C0C0C0;
        border-radius: 3px;
        margin: 4px;
        padding: 2px 3px 2px 3px;
        height: 120px;
        float: left;
    }

    .list-ticket-selector-overlay {
        position: relative;
        margin-left: -2px;
        margin-top: -1px;
        width: 116px;
        height: 116px;
        background: #A0A0A0;
        opacity: 0.5;
        font-size: 40px;
        color: #FFFFFF;
        padding-top: calc(50% - 10px);
        text-align: center;
        margin-bottom: -112px;
        z-index: 2000;
        transition-duration: 0.2s;
        border-radius: 3px;
    }

    .list-ticket-item .list-ticket-delete {
        position: relative;
        right: calc(35px - 100%);
        display: inline-block;
        top: 98px;
    }

    .list-ticket-selector-overlay:hover {
        background: #C0C0C0;
        font-size: 50px;
        transition-duration: 0.2s;
    }

    .list-ticket-notes {
        width: calc(100% - 25px);
    }

    .list-ticket-item .list-ticket-edit {
        position: relative;
        right: calc(17px - 100%);
        display: inline-block;
    }

    .list-ticket-item .list-ticket-date,
    .list-ticket-item .list-ticket-price {
        font-size: 100%;
        text-align: center;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .list-ticket-line {
        height: 18px;
    }

    .list-ticket-icons {
        width: 32px;
    }

}
