#app {
    width: 100%;
}

/* APP custom styling */
.financies-content {
    width: 100%;
}

.financies-panel,
.financies-content {
    vertical-align: top;
    height: 100%;
    display: inline-block;
}

.financies-panel,
.budget-lists {
    width: 200px;
    margin-right: -3px;
    position: fixed;
}

.financies-settings {
    position: fixed;
    bottom: 0px;
    width: 199px;
    transition: width 0.2s;
}

.financies-panel .side-panel {
    z-index: 1001;
}

.financies-settings-list {
    width: 100%;
}

.financies-settings-content > div {
    display: inline-block;
    width: 100%;
}

.budget-lists {
    left: 200px;
}

.budget-lists,
.list-detail {
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.financies-panel .side-panel-list,
.budget-lists .side-panel-list {
    height: calc(100% - 90px);
}

.list-detail {
    margin-left: 400px;
    width: calc(100% - 401px);
    min-width: 320px;
    display: inline-block;
}

.list-options {
    padding-left: 10px;
}

.list-options-group,
.list-options-group-title,
.list-options-group-content {
    display: inline-block;
}

.list-options-group-title {
    font-size: 120%;
    font-weight: 500;
}

.list-options-group:last-of-type {
    float: right;
    margin-right: 10px;
}

.list-options-group-content .icon {
    display: inline-block;
    width: 16px;
}

.top-panel .list-options-group:last-of-type .dropdown-group:last-of-type .dropdown-content {
    margin-left: -50px;
}

.list-options-group-content-row {
    padding: 6px;
    max-width: 200px;
    min-width: 120px;
    white-space: nowrap;
}

.list-options-group-content-row:hover {
    background: #F0F0F0;
    border-radius: 4px;
}

.list-options-group-content-row > * {
    display: inline-block;
}

.list-options-group-content-row .truncate {
    width: calc(100% - 30px);
}

.list-options-group-content-selected {
    background: #E0E0E0;
}

.ticket-dialog {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ticket-dialog-edit {
    width: 700px;
    max-width: 100%;
}

.ticket-section-date {
    margin-left: 10px;
    display: inline-block;
    width: 250px;
    vertical-align: top;
}

.ticket-section-inputs {
    margin: 0;
    display: inline-block;
    width: calc(100% - 275px);
    margin-left: 10px;
    vertical-align: top;
}

.ticket-section-notes {
    display: block;
    height: 60px;
    margin-left: 10px;
    margin-right: 15px;
}

.ticket-section-notes textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

.ticket-dialog .ticket-section-list-select {
    margin-left: 5px;
    margin-right: 21px;
    margin-bottom: 10px;
}

.ticket-dialog .ticket-section-list-select .selector-list {
    margin-left: 5px;
    width: calc(100% - 47px);
}

.ticket-dialog > .ticket-section-inputs > div {
    min-height: 60px;
}

.ticket-dialog > .ticket-section-inputs > div > span:first-child {
    display: inline-block;
    vertical-align: top;
    width: 80px;
}

.ticket-dialog .ticket-section-inputs .ticket-price .price-selector input {
    width: calc(100% - 20px);
    padding-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ticket-dialog .ticket-section-inputs .ticket-price button {
    width: 26px;
    margin-left: -8px;
    margin-right: -15px;
    padding-bottom: 11px;
    padding-top: 21px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.ticket-dialog > div > div > span:last-child {
    display: inline-block;
    margin-left: 5%;
    width: calc(90% - 80px);
}

.ticket-section-buttons {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ticket-section-buttons button {
    margin-left: 10px;
    margin-right: 10px;
}

.budget-tickets {
    height: 100%;
}

.budget-tickets > div {
    vertical-align: top;
    height: 100%;
    display: inline-block;
    margin: 0;
}

.budget-tickets-list {
    width: calc(100% - 75px);
    overflow-y: auto;
}

.budget-tickets-side {
    width: 70px;
}

.budget-tickets-button-calculate {
}

.budget-tickets-button-add {
    position: absolute;
    bottom: calc(20vh + 20px);
}

.budget-tickets-button-calculate button,
.budget-tickets-button-add button {
    width: 70px;
    height: 70px;
    font-size: 40px;
    margin: 0;
}

.budget-list-detail {
    min-height: 100%;
    height: 100%;
}

.budget-list-detail .list-tickets {
    height: calc(80% - 40px);
    width: 100%;
    border-bottom: #000 inset 1px;
}

.budget-list-detail .list-notes {
    height: 20vh;
    min-width: 100%;
}

.budget-list-detail .list-notes textarea {
    min-width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    resize: none;
}

.budget-list-detail .budget-detail {
    height: 100%;
}

.budget-share .dropdown-content > input {
    width: 100%;
}

.budget-share .dropdown-content table {
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
}

.budget-share .dropdown-content td:first-child {
    padding: 5px;
    padding-left: 10px;
}

.budget-share .dropdown-content td:last-child {
    padding: 5px;
    width: 30px;
}

.list-ticket-set-wrapper,
.list-ticket-set-content {
    display: table;
    width: 100%;
}

.list-ticket-set,
.list-ticket-set-content > .list-ticket-set {
    display: table-cell;
    padding: 5px;
}

.list-ticket-set-name {
    border-bottom: 2px solid #E8E8E8;
}

.list-ticket-item {
    display: inline-block;
    width: 180px;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 8px 5px 8px;
    height: 170px;
    float: left;
}

.list-ticket-selector-overlay {
    position: relative;
    margin-left: -7px;
    margin-top: -4px;
    width: 176px;
    height: 166px;
    background: #A0A0A0;
    opacity: 0.5;
    font-size: 50px;
    color: #FFFFFF;
    padding-top: calc(50% - 15px);
    text-align: center;
    margin-bottom: -162px;
    z-index: 2000;
    transition-duration: 0.2s;
    border-radius: 5px;
}

.list-ticket-item .list-ticket-delete {
    position: relative;
    right: calc(40px - 100%);
    display: inline-block;
    top: 140px;
}

.list-ticket-selector-overlay:hover {
    background: #C0C0C0;
    font-size: 60px;
    transition-duration: 0.2s;
}

.list-ticket-notes {
    width: calc(100% - 30px);
}

.list-ticket-item-options {
    margin-bottom: -20px;
}

.list-ticket-item .icon {
    display: inline-block;
}

.list-ticket-item .list-ticket-edit {
    position: relative;
    right: calc(20px - 100%);
    display: inline-block;
}

.list-ticket-item .list-ticket-date,
.list-ticket-item .list-ticket-price {
    font-size: 120%;
    text-align: center;
    font-weight: 600;
    margin-bottom: 6px;
}

.list-ticket-line {
    height: 26px;
}

.list-ticket-icons,
.list-ticket-text {
    display: inline-block;
}

.list-ticket-icons {
    width: 35px;
}

.list-ticket-text {
    width: calc(100% - 40px);
}

.ticket-calculate-dialog {
    width: 100%;
    padding-top: 30px;
    margin-right: 25px
}

.ticket-calculate {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.ticket-calculate-head > div,
.ticket-calculate-row > div,
.ticket-calculate-sum > div,
.ticket-calculate-compare > div {
    width: 180px;
    padding: 5px 15px 5px 15px;
    display: inline-block;
    vertical-align: middle;
}

.ticket-calculate-head {
    position: fixed;
    margin-top: -30px;
    height: 30px;
    background-color: #F4F4F4;
}

.ticket-calculate-head > div {
    border-bottom: 1px solid #B0B0B0;
    font-size: 120%;
    text-align: center;
    height: 100%;
}

.ticket-calculate-row {
    height: 35px;
    white-space: nowrap;
}

.ticket-calculate-row:hover {
    background-color: #F0F0F0;
}

.ticket-calculate-row .ticket-calculate-date {
    display: inline-block;
    width: 55%;
    height: 100%;
}

.ticket-calculate-row .ticket-calculate-price {
    display: inline-block;
    width: 40%;
    height: 100%;
}

.ticket-calculate-row > div {
    border-right: 1px solid #B0B0B0;
    height: 100%;
    white-space: nowrap;
}

.ticket-calculate-row > div:last-child {
    border-right: none;
}

.ticket-calculate-sum-item span,
.ticket-calculate-item span {
    display: inline-block;
    height: 100%;
    width: 45%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    vertical-align: middle;
}

.ticket-calculate-plus {
    color: #00CC00;
}

.ticket-calculate-minus {
    color: #CC0000;
}

.ticket-calculate-sum > div {
    border-top: 1px solid #B0B0B0;
    text-align: center;
}

.ticket-calculate-compare > div {
    font-size: 120%;
    text-align: center;
}